main {
  padding: 16px !important;
}

button {
  cursor: pointer;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide scrollbar buttons */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
